.movie-details {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.poster {
  width: auto;
  height: 300px;
  border-radius: 5px;
}

.trailer {
  width: 640px;
  height: 360px;
  border-radius: 5px;
}

.movie-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 100%;
}

.img {
  width: 100%;
}

.description {
  padding-top: 20px;
}

button {
  margin-top: 20px;
}
