<app-navbar></app-navbar>
<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <app-alert
      *ngIf="error"
      (close)="onHandleCancel()"
      (yes)="onHandleYes()"
    ></app-alert>
  </div>
</div>
<div class="movie-body">
  <div class="movie-details">
    <h1>Booking Review</h1>
    <img class="poster" [src]="poster" alt="Movie poster" />
    <div class="booking-summary">
      <h1>Movie: {{ title }}</h1>
      <p>Showtime: {{ time }}</p>
      <p>Seats: {{ seats }}</p>
      <p>Total Price: Rs.{{ price }}.00</p>
    </div>
    <button class="confirm-button" (click)="payment()">Make Payment</button>
  </div>
</div>
